* {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
	list-style: none;
}

h2 {
	font-size: 24px;
    font-weight: 400;
    padding: 10px 0px;
}

body {
	-webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    transition: linear left 0.1s;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    color: #272b2d;
}

mark {
    background: transparent;
    border-radius: 3px;
    color: yellow;
}

.top-element {
	height: 0px;
	width: 100%;
	background: transparent;
	margin-top: 1px;
}

.top-header {
	position: absolute;
    top: 0;
    left: 270px;
    right: 0;
    z-index: 100;
    height: 50px;
    background: transparent;
    overflow: hidden;
}

.part-header{
	width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.headers-available .documentation {
	display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 50px;
}
.headers-available .custom-header {
	display: inline-block;
    width: 100%;
    position: absolute;
    top: 0px;
    height: 50px;
    z-index: 5000;
    border-bottom: 1px solid #f6f6f6;
}


.lang-header {
	padding: 10px 15px;
    position: absolute;
    left: 50%;
    right: 0;
	box-shadow: 0 0 1px 0;
	background: #2D3134;
}

.lang-header .lan{
	padding: 3px 12px;
    margin-right: 8px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #272b2d;
    color: #dde4e8;
}

.lan.selected {
	background: #272b2d;
    color: #45f945;
    font-weight: 600;
}
.sidebar {
	font-family: 'Open Sans', sans-serif;
	bottom: 0;
	font-weight: 400;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 75;
    width: 230px;
	padding: 20px;
	padding-top: 45px;
	background: #fafafa;
}
 
.sidebar .group-header {
	color: rgb(82, 98, 105);
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
}


.sidebar li.resource-header.expand .resource-nav-item {
	font-weight: 600;
}

.sidebar a.child-nav-item.selected {
	color: #0095dd;
}

.sidebar a.child-nav-item:hover {
	color: #0095dd;
}

.sidebar li.transition {
	padding-left: 20px;
}

.sidebar .resource-header > ul{
	display: none;
}

.sidebar .resource-header.expand > ul{
	display: block;
}


.container {
	bottom: 0;
    right: 0;
    position: absolute;
    top: 0;
    left: 270px;
    z-index: 50;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.doc-body {
	box-sizing: border-box;
    background-image: -webkit-linear-gradient(-90deg, #2D3134 50%, #ffffff 50%);
    background-image: linear-gradient(-90deg, #2D3134 50%, #ffffff 50%);
}

.header-anchor {
	visibility: hidden;
}

.col-12 {
	width: 100%;
}

.col-6 {
	width: 50%;
}

.row {
	padding-bottom: 50px;
}

.row:after {
	clear: both;
    content: '';
    display: table;
}

.lhs, .rhs {
    float: left;
    box-sizing: border-box;
}

.lhs {
	padding: 0 20px;
}

.rhs {
    padding-top: 40px;
    color: #dde4e8;
}

code, .code {
	font-family: Source Code Pro,Menlo,monospace;
	font-size: 13px;
}


.doc-body .group-heading {
	font-size: 24px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.doc-body .resource-heading {
	padding: 10px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.doc-body .transition-heading {
    color: #292e31;
    padding: 10px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px
}

ul.attrs, ul.params {
	border-top: 1px solid #e1e8ed;
}

.params .left, .attrs .left, .params .right, .attrs .right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.params .left, .attrs .left {
	text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 21px;
    word-break: break-all;
    white-space: normal;
}

.params .right, .attrs .right {
	box-sizing: border-box;
	padding-left: 10px;
}

li.param, li.attr {
	padding: 17px 0;
    border-bottom: 1px solid #f0f4f7;
    line-height: 24px;
}

li.param:last-child, li.attr:last-child {
	border-bottom: none;	
}

.left {
	color: #aaa;
}

.left span {
	padding-right: 10px;
}

.left .key {
    color: #000;
}

.left span.key{
	font-weight: 600;
}

.left .type {
	font-style: italic;
	font-size: 12px;
}

.left .example {
	font-size: 11px;
}

.left .required, .left .optional {
	color: #e66e33;
	text-transform: uppercase;
	font-size: 10px;
    font-weight: 600;
}
.show-child-attr {
	color: #0095dd;
	padding: 6px 0;
}

.child-attr {
	border-radius: 5px;
}

.child-attr > .attrs {
	display: none;
}

.child-attr > .show-child-attr > .expand {
	display: block;
	cursor: pointer;
}
.child-attr > .show-child-attr > .close {
	display: none;
	cursor: pointer;
}

.child-attr.show {
	box-shadow: 0 0 1px 0px rgba(128, 128, 128, 0.5);
}

.child-attr.show > .attrs{
	display: block;
}
.child-attr.show > .show-child-attr > .expand {
	display: none;
}
.child-attr.show > .show-child-attr > .close {
	display: block;
}

.part-heading {
	color: #939da3;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    margin: 15px 0;
}


.api-definition-heading, .rhs-heading {
	margin-bottom: 15px;
    font-weight: 600;
    padding: 6px 20px;
    font-size: 13px;
}

.api-method {
    padding: 2px 11px;
    border-radius: 2px;
    color: white;
}

.api-method.get {
	color: #1fda9a;
}

.api-method.post {
	color: #ee4b3e;
}

.api-method.put {
	color: #E9BC1B;
}

.api-url {
	word-break: break-all;
    white-space: initial;
    line-height: 1.9;
}

.rhs-highlight {
    padding: 0 20px;
    margin: 20px;
    padding: 20px 20px;
    background: #272b2d;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 70px;
}

.headers-description {
	margin-bottom: 50px;
}

.hljs {
    border-radius: 2px;
    margin: 0;
    white-space: pre-wrap;
}

.hljs-keyword {
	font-weight: 600;
}

.hljs-built_in {
	color: #0095dd;
}

.hljs-attr {
	color: #4aba09;
}